.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-content {
  position: relative;
  padding-top: 100%;
}

.card-button {
  position: absolute;
  width: 90px;
  height: 90px;
  margin: 0;

  ion-icon {
    padding: 5px;
    font-size: 80px;
    cursor: pointer;
  }
}

ion-grid {
  width: 80%;
}

ion-card {
  width: calc(100% - 10px);
  img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: calc(100% - 20px);
    margin: 10px;
  }
}
