<ion-header translucent>
  <ion-toolbar>
    <ion-title>Project Detail</ion-title>
    <!-- 
    <ion-button (click)="goHome()">home</ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loading">
    LOADING...
  </div>
  <ion-grid *ngIf="!loading" class="page-container">
    <div [ngClass]="{'edit-mode': segmentsService.editMode}">
      <ion-row>
        <ion-col size="4">
          <project-info [project]="projectData.currentProject"></project-info>
        </ion-col>
        <ion-col size="4">
          <project-to-do-list
            [project]="projectData.currentProject"
          ></project-to-do-list>
        </ion-col>
        <ion-col size="4">
          <project-calendar></project-calendar>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-segment (ionChange)="segmentChanged($event)" [value]="segment">
          <ion-col>
            <ion-segment-button value="image">
              <ion-label
                >images
                <span id="enlarge"> <ion-icon name="resize"></ion-icon></span>
              </ion-label>
            </ion-segment-button>
          </ion-col>

          <ion-col>
            <ion-segment-button value="document">
              <ion-label>documents</ion-label>
            </ion-segment-button>
          </ion-col>

          <ion-col>
            <ion-segment-button value="company">
              <ion-label>companies</ion-label>
            </ion-segment-button>
          </ion-col>

          <ion-col>
            <ion-icon *ngIf="!segmentsService.editMode" name="menu" (click)="presentPopover($event)"></ion-icon>
          </ion-col>
        </ion-segment>
      </ion-row>
    </div>
    <ion-icon class="close-icon" *ngIf="segmentsService.editMode" name="close" (click)="segmentsService.toggleEditMode('imageClicked')"></ion-icon>
    <ion-row>
      <project-images
        class="segments"
        *ngIf="segment === 'image'"
        [projectId]="projectData.currentProject.id"
      >
      </project-images>
      <project-documents
        class="segments"
        *ngIf="segment === 'document'"
        [projectId]="projectData.currentProject.id"
      >
      </project-documents>
    </ion-row>
  </ion-grid>
</ion-content>
