<ion-header translucent>
  <ion-toolbar>
    <ion-title>Project Detail</ion-title>
    <!-- 
    <ion-button (click)="goHome()">home</ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loading">
    LOADING...
  </div>
  <ion-grid *ngIf="!loading" class="page-container">
    <ion-row>
      <ion-col size="4">
        <project-info [project]="projectData.currentProject"></project-info>
      </ion-col>
      <ion-col size="4">
        <project-to-do-list
          [project]="projectData.currentProject"
        ></project-to-do-list>
      </ion-col>
      <ion-col size="4">
        <project-calendar></project-calendar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-segment (ionChange)="segmentChanged($event)" [value]="segment">
        <ion-col>
          <ion-segment-button value="images">
            <ion-label
              >images
              <span id="add-image">
                <ion-icon name="add-circle" (click)="callAddImage()"></ion-icon>
              </span>
              <span id="enlarge"> <ion-icon name="resize"></ion-icon></span>
              <span (click)="changeSlidesPerView(1)">
                <ion-icon name="heart"></ion-icon></span
            ></ion-label>
          </ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button value="documents">
            <ion-label>documents</ion-label>
          </ion-segment-button>
        </ion-col>

        <ion-col>
          <ion-segment-button value="companies">
            <ion-label>companies</ion-label>
          </ion-segment-button>
        </ion-col>
      </ion-segment>

      <project-images
        class="segments"
        *ngIf="segment === 'images'"
        [projectId]="projectData.currentProject.id"
      >
      </project-images>
      <project-documents
        class="segments"
        *ngIf="segment === 'documents'"
        [projectId]="projectData.currentProject.id"
      >
      </project-documents>
    </ion-row>
  </ion-grid>
</ion-content>
