.segments {
  width: 100%;
}

.page-container {
  padding: 5px 30px;
}

.add-image {
  position: relative;
  left: 100px;
  font-size: 20px;
}

.enlarge {
  position: relative;
  left: 110px;
  font-size: 16px;
}