.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-content {
  position: relative;
  padding-top: 100%;
}

.card-button {
  position: absolute;
  width: 90px;
  height: 90px;
  margin: 0;

  ion-icon {
    padding: 5px;
    font-size: 80px;
    cursor: pointer;
  }
}

ion-card {
  width: calc(100% - 10px);
  img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: calc(100% - 20px);
    margin: 10px;
  }
}

.image-col {
  input {
    display: none;
  }

  label {
    cursor: pointer;
    display: block;
  }

  label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
    z-index: 9;
  }

  :checked + label:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
  }
}

.slide-content {
  cursor: grab;
  margin-left: 5px;
  margin-right: 5px;
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

ion-slide:hover {
  cursor: pointer;
}

ion-slide {
  width: 100%;
  height: 255px;
  background-color: #fff;
  float: left;
}

ion-slides {
  position: relative;
}

.pointer {
  cursor: pointer;
}

.hide {
  visibility: hidden;
}

.display {
  visibility: visible;
}

.arrow-col {
  max-width: 50px;
  min-width: 50px;
}

.slider-col {
  max-width: calc(100% - 100px);
  min-width: calc(100% - 100px);
}

ion-col {
  text-align: center;
}


.filter {
  filter: invert(47%) sepia(64%) saturate(3659%) hue-rotate(164deg) brightness(99%) contrast(101%);
}