.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

  label {
    cursor: pointer;
    display: block;
  }

  label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
    z-index: 9;
  }

  :checked + label:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
  }


.slide-content {
  width: 225px;
  cursor: grab;
  margin-left: 5px;
  margin-right: 5px;
  img {
    width: 100%;
    height: 225px;
    object-fit: cover;
  }
}

ion-slide:hover {
  cursor: pointer;
}

ion-slide {
  width: 225px;
  height: 225px;
  background-color: #fff;
  float: left;
}

ion-slides {
  position: relative;
}

.pointer {
  cursor: pointer;
}

.hide {
  visibility: hidden;
}

.display {
  visibility: visible;
}

.arrow-col {
  max-width: 50px;
  min-width: 50px;
}

.slider-col {
  max-width: calc(100% - 100px);
  min-width: calc(100% - 100px);
}

ion-col {
  text-align: center;
}

.filter {
  filter: invert(47%) sepia(64%) saturate(3659%) hue-rotate(164deg)
    brightness(99%) contrast(101%);
}
