ion-grid {
	padding: 20px;
	align-content: center;
}

.title {
	font-size: 24px;
	margin-bottom: 5px;
	padding-left: 2%;
}

.item {
	font-size: 18px;
	font-weight: bold;
}
.detail {
	font-size: 18px;
}

.outer-container {
	align-content: center;
	padding: 20px;
	background-color: white !important;
	height: 650px;
	width: 550px;
	border-radius: 10px !important;
}

.container {
	background-color: white !important;
	margin: 5px;
	width: 520px;
	height: 480px;
	border-radius: 10px !important;
}

.smaller-container {
	height: 420px;
}

ion-button .button-native {
	margin: 5px;
}

.item-container {
	.more-icon {
		padding: 6px, 6px;
		display: none;
		width: 30px;
		height: 30px;
	}
	border-radius: 3px;
	&:hover {
		background-color: rgba(250, 249, 249, 0.8);
		.more-icon {
			cursor: pointer;
			display: block;
		}
	}
}

.input {
	display: none;
	padding: 0;
	border-radius: 3px;
	margin: 5px;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	width: 90%;
	height: 35px;
	background-color: rgb(255, 255, 255, 0.8);
}

.display-input {
	display: block;
}

.input-edit {
	input {
		width: 98%;
		border: 1px solid rgb(160, 160, 160);
		border-radius: 4px;
		line-height: 35px;
		padding: 0 8px;
	}
}

.input-standard {
	input {
		border: none;
	}
}

.input-edit:first-child {
	margin-bottom: 10px;
}

#close-button {
	font-size: 35px;
	&:hover {
		cursor: pointer;
	}
}
