ion-grid {
	padding: 20px;
	align-content: center;
}

ion-card {
	padding-top: 0 !important;
}

ion-row {
	min-height: 12px;
}

ion-col {
	border-radius: 5px;
}

.red-label {
	background-color: rgb(209, 84, 84);
	&:hover {
		background-color: rgb(174, 23, 23);
	}
}

.green-label {
	background-color: rgb(149, 181, 159);
	&:hover {
		background-color: rgb(69, 84, 71);
	}
}

.blue-label {
	background-color: rgb(123, 171, 220);
	&:hover {
		background-color: rgb(31, 93, 137);
	}
}

/* .transparent-label {
	background-color: rgb(159, 152, 159);
	&:hover {
		background-color: rgb(83, 81, 83);
	}
} */

.toolbar {
	position: sticky;
	top: 0;
	z-index: 9;
}

.title {
	font-size: 24px;
	margin-bottom: 5px;
	padding-left: 2%;
}

.item {
	min-width: calc(100% - 15px);
	max-width: calc(100% - 15px);
	font-size: 18px;
}

.outer-container {
	align-content: center;
	padding: 20px;
	background-color: white !important;
	height: 650px;
	width: 550px;
	border-radius: 10px !important;
}

/* .container {
	background-color: white !important;
	margin: 5px;
	width: 520px;
	height: 480px;
	border-radius: 10px !important;
} */

.smaller-container {
	height: 420px;
}

ion-button .button-native {
	margin: 5px;
}

.action-icon {
	//display: none;
}

.item-container {
	border-radius: 5px;
	margin: 5px;
	&:hover {
		background-color: rgb(170, 172, 172);
		.action-icon {
			cursor: pointer;
			display: block;
		}
	}
}

.input {
	display: none;
	padding: 0;
	border-radius: 3px;
	margin: 5px;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	width: 90%;
	height: 35px;
	background-color: rgba(255, 255, 255, 0.8);
}

.display-input {
	display: block;
}

.input-edit {
	width: 98%;
	border: 1px solid rgb(160, 160, 160);
	border-radius: 4px;
	line-height: 35px;
	padding: 0 8px;
}

.input-edit:first-child {
	margin-bottom: 10px;
}

#close-button {
	font-size: 35px;
	&:hover {
		cursor: pointer;
	}
}

.inputs-col {
	&:hover {
		cursor: pointer !important;
	}
}
