<ion-header>
  <ion-toolbar>
    <ion-title>todo-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{item}}
      <span
        >
        <ion-icon name="close"></ion-icon></span>
    </ion-item>
    <ion-icon name="close-outline"></ion-icon>

    <input type="text" [(ngModel)]="newItem" />
    <ion-button (click)="addItem()">add</ion-button>
  </ion-list>

  <ion-button (click)="dismiss()">save</ion-button>

</ion-content>
