<ion-grid>
  <ion-card class="outer-container">
    <div class="title">To Do List</div>
    <ion-row>
      <ion-card class="container">
        <ion-row class="item-container" *ngFor="let item of items">
          <ion-col size="1">
            <ion-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="item.checked"></ion-checkbox>
          </ion-col>
          <ion-col size="10">
            <div class="item">{{item.title}}</div>
            <br />
            <div class="detail">{{item.detail}}</div>
          </ion-col>
          <ion-col size="1">
            <img class="more-icon" src="../../assets/icon/more.svg" alt="options"
              (click)="presentPopover($event, item)" />
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <ion-row><input id="title" class="input" [ngClass]="{'display-input': addItemMode}" placeholder="Add an item"
            class="input" type="text" [(ngModel)]="newItem" />
        </ion-row>
      </ion-col>
      <ion-col class="buttons-container" size="3">
        <ion-button *ngIf="!addItemMode" (click)="addItemModeOn()">Add an item</ion-button>
        <ion-button *ngIf="addItemMode  && !editMode" (click)="addItem()">Add</ion-button>
        <ion-button *ngIf="editMode" (click)="confirmEdits()">Confirm edits</ion-button>
      </ion-col>
      <ion-col size="1">
        <ion-icon *ngIf="addItemMode" name="close" (click)="close()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <input id="detail" class="input" [ngClass]="{'display-input': addItemMode}" placeholder="more details..."
          class="input" type="text" [(ngModel)]="newItemDetail" />
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="save()">Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-grid>