<ion-row>
  <ion-button  (click)="resetInput('project-images')" expand="full" fill="clear">
    <label for="project-images">
      <span>add a new {{ this.segmentsService.segmentName }}</span>
      <ion-icon name="add"></ion-icon>
    </label>
  </ion-button>
  <input style="display:none" type="file" multiple id="project-images" (change)="selectFile($event)">
</ion-row>

<ion-row *ngIf="!changeClicked">
  <ion-button expand="full" fill="clear" (click)="confirmChangeClicked()">
    <span>change per view</span>
    <ion-icon name="hammer"></ion-icon>
  </ion-button>
</ion-row>

<ion-row *ngIf="changeClicked">
  <ion-button expand="full" fill="clear" (click)="changePerView(2)">
    2
  </ion-button>
  <ion-button expand="full" fill="clear" (click)="changePerView(4)">
    4
  </ion-button>
  <ion-button expand="full" fill="clear" (click)="changePerView(8)">
    8
  </ion-button>
</ion-row>

<ion-row>
  <ion-button expand="full" fill="clear" (click)="toggleEditMode()">
    <span>Edit</span>
    <ion-icon name="create"></ion-icon>
  </ion-button>
</ion-row>
