.body {
	background-color: var(–ion-color-primary);
}

.segments {
	width: 100%;
}

.page-container {
	padding: 5px 30px;
}

#add-image {
	position: relative;
	left: 100px;
	font-size: 20px;
}

#enlarge {
	position: relative;
	left: 110px;
	font-size: 16px;
}

.edit-mode {
	opacity: 20%;
}

.close-icon {
	position: absolute;
	font-size: 35px;
	opacity: 100% !important;
	left: 88%;
	top: 45%;
}

todo-list {
	position: relative;
}
