<ion-content>
  <ion-grid>
    <ion-button *ngIf="documents.length > 0" (click)="toggleEditDocuments()">
      {{editDocuments ? 'cancel' : 'edit'}}
    </ion-button>
    <ion-button
      *ngIf="editDocuments && checkedDocuments.length > 0"
      (click)="deleteDocuments()"
      >Delete</ion-button
    >
    <ion-row>
      <ion-col size="2">
        <ion-card class="card-content">
          <ion-button class="card-button center">
            <label for="document" (click)="resetInput('document')">
              <ion-icon class="center" name="add-circle"></ion-icon>
            </label>
          </ion-button>
          <input
            type="file"
            id="document"
            (change)="selectFile($event)"
            multiple
            style="display:none"
          />
        </ion-card>
      </ion-col>

      <ion-col
        class="image-col"
        *ngFor="let doc of documents; let i = index"
        size="2"
      >
        <ion-card (click)="documentClick(i, doc)" class="card-content">
          <input disabled="true" [id]="i" type="checkbox" />
          <a class="center" [href]="doc.url" [target]="doc.name">
            <ion-icon class="center" name="paper"></ion-icon>
          </a>
          <div class="bottom-center">{{doc.name}}</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
