<ion-grid>
  <ion-row>
    <ion-button expand="full" fill="clear" (click)="dismiss('delete')">
      <span>delete</span>
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-row>
  <ion-row>
    <ion-button expand="full" fill="clear" (click)="dismiss('edit')">
      <span>edit</span>
      <ion-icon name="create"></ion-icon>
    </ion-button>
  </ion-row>
  <ion-row>
    <ion-button expand="full" fill="clear" (click)="dismiss('label')">
      <span>label</span>
      <ion-icon name="color-palette"></ion-icon>
    </ion-button>
  </ion-row>
</ion-grid>