.center {
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.label-red {
	margin-top: 10px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #ed0505;
}

.label-green {
	margin-top: 35px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #69b573;
}

.label-grey {
	margin-top: 60px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #79807a;
}

.none-icon {
	margin-top: 85px;
	font-size: 23px;
}
