<div *ngIf="!label">
  <ion-row>
    <ion-button expand="full" fill="clear" (click)="dismiss('delete')">
      <span>delete</span>
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-row>
  <ion-row>
    <ion-button expand="full" fill="clear" (click)="chooseLabel()">
      <span>label</span>
      <ion-icon name="color-palette"></ion-icon>
    </ion-button>
  </ion-row>
</div>

<div *ngIf="label">
  <ion-row>
    <ion-button (click)="dismiss('label', '#ed0505')">
      red
    </ion-button>
    <ion-button (click)="dismiss('label', '#69b573')">
      green
    </ion-button>
    <ion-button (click)="dismiss('label', '#79807a')">
      grey
    </ion-button>
    <ion-button (click)="dismiss('label', 'transparent')">
      none
    </ion-button>
  </ion-row>
</div>