<div *ngIf="!label">
  <ion-row>
    <ion-button expand="full" fill="clear" (click)="dismiss('delete')">
      <span>delete</span>
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-row>
  <ion-row>
    <ion-button expand="full" fill="clear" (click)="dismiss('edit')">
      <span>edit</span>
      <ion-icon name="create"></ion-icon>
    </ion-button>
  </ion-row>
  <ion-row>
    <ion-button expand="full" fill="clear" (click)="chooseLabel()">
      <span>label</span>
      <ion-icon name="color-palette"></ion-icon>
    </ion-button>
  </ion-row>
</div>

<div *ngIf="label">
  <ion-row>
    <ion-button (click)="dismiss('label')">
      red
    </ion-button>
    <ion-button (click)="dismiss('label')">
      green
    </ion-button>
    <ion-button (click)="dismiss('label')">
      blue
    </ion-button>
  </ion-row>
</div>