<ion-header>
  <ion-toolbar>
    <ion-button (click)="testStyleChange()">clişck here

    </ion-button>
    <ion-row>
      <ion-col>
        <ion-title>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</ion-title>
      </ion-col>
      <ion-col>
        <div class="btn btn-primary" (click)="setView(CalendarView.Day, events)"
          [class.active]="view === CalendarView.Day">
          Day
        </div>
      </ion-col>
      <ion-col>
        <div class="btn btn-primary" (click)="setView(CalendarView.Week, events)"
          [class.active]="view === CalendarView.Week">
          Week
        </div>
      </ion-col>
      <ion-col>
        <div class="btn btn-primary" (click)="setView(CalendarView.Month, events)"
          [class.active]="view === CalendarView.Month">
          Month
        </div>
      </ion-col>
      <ion-col>
        <ion-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">Prev</ion-button>
      </ion-col>
      <ion-col>
        <ion-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">Next</ion-button>
      </ion-col>
      <ion-col>
        <div class="btn btn-primary" (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<div id="calendar" [ngSwitch]="view">
  <!-- <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
    [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view> -->
  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
    [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>