<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="goToDetail(project.id)" *ngFor="let project of projects">
    <img src="{{ project.thumbnail }}" alt="project image"/>
    <div>{{ project.info.project_name }}</div>
    <div>{{ project.info.first_name }} {{ project.info.last_name }}</div>
    <div>{{ project.info.project_address }}</div>
  </ion-card>
  <ion-button [routerLink]="'/create-project'" routerDirection="forward"
    >create a new project</ion-button
  >

  <to-do-list></to-do-list>
</ion-content>
