<ion-header>
  <ion-toolbar>
    <ion-title>project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="projectForm">
    <ion-item>
      <ion-label>First Name</ion-label>
      <ion-input formControlName="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Last Name</ion-label>
      <ion-input formControlName="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>job</ion-label>
      <ion-input formControlName="job"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>phone </ion-label>
      <ion-input formControlName="job"></ion-input>
    </ion-item>
  </form>
</ion-content>
