
  <div id="image-container">
    <img id="image" [src]="currentImage.url" alt="img" />
  </div>
  
  <div *ngIf="!editImage" id="arrows-container">
    <div>
      <div class="name-background"></div>
      <div class="name">{{currentImage.name}}</div>
    </div>
  
    <ion-icon 
      class="edit-cancel"
      (click)="toggleEditImage()"
      name="create"
    ></ion-icon>
  
    <ion-button (click)="prevImage()" id="prev-button" color="light">
      <img src="../../assets/icon/back.svg" alt="prev image icon" />
    </ion-button>
  
    <ion-button (click)="prevImage()" id="next-button" color="light">
      <img  src="../../assets/icon/next.svg" alt="prev image icon" />
    </ion-button>
  </div>
  
  
  <div *ngIf="editImage">
    <div class="edit-header"></div>
    <ion-icon
      *ngIf="editImage"
      class="edit-cancel"
      (click)="quitImageDisplay()"
      name="close"
    ></ion-icon>
    <ion-label class="label" position="floating">New Name</ion-label>
    <ion-input
      id="newName"
      class="input"
      placeholder="{{currentImage.name}}"
    ></ion-input>
  
    <ion-icon (click)="cropImage()" class="cropper-icon" name="crop"></ion-icon>
  
    <ion-button class="button" (click)="saveChanges('newName', currentImage)"
      >save</ion-button
    >
    <div class="save-background"></div>
  </div>



