img {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

image-container {
  height: 400px;
}

#arrows-container {
  visibility: hidden;
}

#arrows-container:hover {
  visibility: visible;
}

#image-container:hover + #arrows-container {
  visibility: visible;
}

#prev-button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 2%;
  z-index: 5;
}

#next-button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: calc(98% - 40px);
  z-index: 5;
}


.name {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 5;
}

.name-container {
  background-color: white;
  border-radius: 5px;
}

.edit-cancel {
  position: absolute;
  z-index: 5;
  top: 5%;
  left: 90%;
}

.input {
  width: 90%;
  position: absolute;
  border: solid black 1px;
  border-radius: 2px;
  z-index: 5;
  top: 10%;
  left: 4%;
}

.label {
  position: absolute;
  z-index: 5;
  top: 3%;
  left: 4%;
}

.button {
  position: absolute;
  z-index: 5;
  top: 91%;
  left: 80%;
}

.cropper-icon {
  background-color: white;
  border-radius: 5px;
  position: absolute;
  z-index: 5;
  top: 92%;
  left: 5%;
  width: 25px;
  height: 25px;
}

.cropper-icon:hover {
  cursor: pointer;
}

.edit-header {
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 5;
  background-color: white;
  opacity: 80%;
}

.name-background {
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 5;
  background-color: white;
  opacity: 50%;
}

.save-background {
  width: 100%;
  height: 60px;
  top: 90%;
  left: 0;
  position: absolute;
  z-index: 4;
  background-color: white;
  opacity: 80%;
}
