/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* Angular calendar */
@import '../node_modules/angular-calendar/css/angular-calendar.css';

:root {
	--modal-width: 600px;
	--header-size: 60px;
	--modal-border-radius: 4px;
	--archi-primary: #cf9a62;
	--archi-secondary: #1f3229;
	--side-spacing: 8px;
	--icon-size: 25px;
	--square-btn-size: 40px;
	--middle-btn-size: 50px;
}

.modal-container .modal-wrapper {
	width: var(--modal-width);
	height: 700px;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
}

.event-modal-container {
	.modal-wrapper {
		width: var(--modal-width);
		height: 400px;
		background-color: rgba(255, 255, 255, 0);
		box-shadow: none;
		border-radius: var(--modal-border-radius);
	}
}

.footer {
	position: fixed;
	bottom: 0px;
	z-index: 9;
	background-color: var(--archi-secondary);
	width: 100%;
	height: 30px;

	.footer-button {
		--border-style: solid;
		--border-color: #fff;
		--border-width: 2px;
		--padding-start: 0px;
		--padding-end: 0px;
		--box-shadow: none;
		height: var(--square-btn-size);
		width: var(--square-btn-size);
		position: absolute;
		bottom: 5px;

		.footer-icon {
			filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(291deg)
				brightness(100%) contrast(104%);
			height: var(--icon-size);
			width: var(--icon-size);
		}
	}

	.btn-left {
		left: var(--side-spacing);
	}

	.btn-right {
		right: var(--side-spacing);
	}

	.btn-middle {
		left: calc((var(--modal-width) - var(--square-btn-size)) / 2);
		--border-radius: 50%;
		height: var(--middle-btn-size);
		width: var(--middle-btn-size);
		bottom: 8px;
	}
}

.header {
	height: var(--header-size);
	position: fixed;
	top: 0px;
	z-index: 9;
	background-color: var(--archi-primary);
	width: 100%;
	font-family: 'Poiret One', cursive;
	font-size: 30px;
	color: #fff;
	font-weight: 1000;
}

.capitalize {
	text-transform: capitalize;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.modal-content {
	padding-top: var(--header-size);
}

.large-modal .modal-wrapper {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
}

.no-scrollbar {
	&::-webkit-scrollbar,
	*::-webkit-scrollbar {
		display: none !important;
		width: 0 !important;
		height: 0 !important;
	}

	scrollbar-width: none !important;

	-ms-overflow-style: none !important;
}

.text-bold {
	font-weight: bold;
}

.visible {
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.7s;
}

.hidden {
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
	pointer-events: none;
}

.y-scroll {
	overflow-y: scroll;
}

.component-card {
	padding: 15px;
	height: 300px;
	&:hover {
		.icon-container {
			opacity: 1;
			transition-property: opacity;
			transition-duration: 1s;
			cursor: pointer;
		}
	}

	.icon-container {
		position: sticky;
		position: -webkit-sticky;
		top: 0px;
		left: calc(100% - 20px);
		z-index: 9;
		opacity: 0;
		transition-property: opacity;
		transition-duration: 0.2s;
		width: 30px;
		height: 30px;
	}

	.expand-icon {
		position: relative;
		top: 5px;
		left: 5px;
		font-size: 20px;
	}

	.content-row {
		margin-top: -40px;
	}
}

.ngx-datepicker-container {
	z-index: inherit !important;
}
.ngx-datepicker-calendar-container {
	z-index: 1;
}

.cal-month-view .cal-event {
	width: 100%;
	height: 7px;
	border-radius: 0;
	display: inline-block;
	margin: 0px;
}

.cal-event-new {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	margin: 2px;
}

.ngx-datepicker-container {
	input {
		box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2);
		width: 100% !important;
		height: 35px;
		padding: 0;
		border-radius: 3px;
		margin: 5px;
		background-color: rgba(255, 255, 255, 0.8);
	}
}

.action-icon {
	font-size: 23px;
	padding: 3px;
	border-radius: 2px;
	&:hover {
		background-color: rgba(137, 135, 135, 0.4);
	}
}

ion-popover {
	ion-backdrop {
		background-color: transparent;
	}
	.popover-wrapper {
		.popover-content {
			width: 30px;
			min-height: 108px;
		}
	}
}

.input-error {
	outline: none;
	border: 3px solid red;

	-webkit-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1) !important;
	-moz-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1) !important;
	box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1) !important;
}
