/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* Angular calendar */
@import '../node_modules/angular-calendar/css/angular-calendar.css';

.modal-container .modal-wrapper {
	width: 600px;
	height: 700px;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
}

.event-modal-container .modal-wrapper {
	width: 600px;
	height: 400px;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
}

.large-modal .modal-wrapper {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
}

.no-scrollbar {
	&::-webkit-scrollbar,
	*::-webkit-scrollbar {
		display: none !important;
		width: 0 !important;
		height: 0 !important;
	}

	scrollbar-width: none !important;

	-ms-overflow-style: none !important;
}

.text-bold {
	font-weight: bold;
}

.visible {
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.7s;
}

.hidden {
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
	pointer-events: none;
}

.y-scroll {
	overflow-y: scroll;
}

.component-card {
	padding: 15px;
	height: 300px;
	&:hover {
		.icon-container {
			opacity: 1;
			transition-property: opacity;
			transition-duration: 1s;
			cursor: pointer;
		}
	}

	.icon-container {
		position: sticky;
		position: -webkit-sticky;
		top: 0px;
		left: calc(100% - 20px);
		z-index: 9;
		opacity: 0;
		transition-property: opacity;
		transition-duration: 0.2s;
		width: 30px;
		height: 30px;
	}

	.expand-icon {
		position: relative;
		top: 5px;
		left: 5px;
		font-size: 20px;
	}

	.content-row {
		margin-top: -40px;
	}
}

.ngx-datepicker-container {
	z-index: inherit !important;
}
.ngx-datepicker-calendar-container {
	z-index: 1;
}

.cal-month-view .cal-event {
	width: 100%;
	height: 7px;
	border-radius: 0;
	display: inline-block;
	margin: 0px;
}

.cal-event-new {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	margin: 2px;
}

.ngx-datepicker-container {
	input {
		box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2);
		width: 100% !important;
		height: 35px;
		padding: 0;
		border-radius: 3px;
		margin: 5px;
		background-color: rgba(255, 255, 255, 0.8);
	}
}

.action-icon {
	font-size: 23px;
	padding: 3px;
	border-radius: 2px;
	&:hover {
		background-color: rgba(137, 135, 135, 0.4);
	}
}
