<!-- <ion-button *ngIf="documents.length > 0" (click)="toggleEditDocuments()">
  {{editDocuments ? 'cancel' : 'edit'}}
</ion-button>
<ion-button
  *ngIf="editDocuments && checkedDocuments.length > 0"
  (click)="deleteDocuments()"
  >Delete</ion-button
>
<ion-row>
  <ion-col size="3">
    <ion-card class="card-content">
      <ion-button class="card-button center">
        <label for="document" (click)="resetInput('document')">
          <ion-icon class="center" name="add-circle"></ion-icon>
        </label>
      </ion-button>
      <input
        type="file"
        id="document"
        (change)="selectFile($event)"
        multiple
        style="display:none"
      />
    </ion-card>
  </ion-col>

  <ion-col
    class="image-col"
    *ngFor="let doc of documents; let i = index"
    size="3"
  >
    <ion-card (click)="documentClick(i, doc)" class="card-content">
      <span>
        <ion-button
          *ngIf="!changeButtons"
          class="change-name"
          (click)="editName(i, doc)"
          >Edit name</ion-button
        >

        <ion-button
          *ngIf="changeButtons"
          class="change-name"
          (click)="changeName(i, doc)"
          >change name</ion-button
        >
        <input
          *ngIf="changeButtons && changeNameIndex === i"
          type="text"
          [id]="i"
        />
      </span>
      <input class="display-none" disabled="true" [id]="i" type="checkbox" />
      <div class="doc-name">{{doc.name}}</div>
      <a class="center" [href]="doc.url" [target]="doc.name">
        <ion-icon class="center" name="paper"></ion-icon>
      </a>
    </ion-card>
  </ion-col>
</ion-row>
 -->

<!-- <ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col class="arrow-col">
      <img
        class="filter pointer"
        src="../../assets/icon/back.svg"
        alt="previous slide icon"
        (click)="slides.slidePrev()"
      />
    </ion-col>

    <ion-col class="slide-col">
      <ion-slides #slides [options]="slideOpts">
        <ion-slide
          *ngFor="let doc of segmentsService.documents; let i = index"
          (click)="documentClick(i, doc)"
        >
          <div class="slide-content">
            <div class="slide-background"></div>
            <a
              *ngIf="!segmentsService.editMode"
              class="center"
              [href]="doc.url"
              [target]="doc.name"
            >
              <img
                class="doc-icon filter"
                [src]="doc.iconSrc"
                alt="previous slide icon"
              />
            </a>
            <img
              *ngIf="segmentsService.editMode"
              class="doc-icon filter"
              [src]="doc.iconSrc"
              alt="previous slide icon"
            />
            <div class="doc-name">{{doc.name}}</div>
            <div
              [ngClass]="{'display-button-1': segmentsService.imageClicked === i }"
              class="button-1"
            >
              <ion-button (click)="deleteImage()"
                ><ion-icon name="trash"></ion-icon
              ></ion-button>
            </div>
            <div
              [ngClass]="{'display-button-2': segmentsService.imageClicked === i}"
              class="button-2"
            >
              <ion-button><ion-icon name="create"></ion-icon></ion-button>
            </div>
            <div
              [ngClass]="{'display-button-3': segmentsService.imageClicked === i}"
              class="button-3"
            >
              <ion-button><ion-icon name="cloud-upload"></ion-icon></ion-button>
            </div>

            <div
              [ngClass]="{'display-button-4': segmentsService.imageClicked === i}"
              class="button-4"
            >
              <ion-button
                ><ion-icon name="radio-button-off"></ion-icon
              ></ion-button>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-col>
    <ion-col class="arrow-col">
      <img
        src="../../assets/icon/next.svg"
        alt="next slide icon"
        class="filter pointer"
        (click)="slides.slideNext()"
      />
    </ion-col>
  </ion-row>
</ion-grid>
 -->

<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col size="1" class="arrow-col">
      <img
        *ngIf="segmentsService.documents.length>projectData.settings.slides_per_view"
        class="filter pointer"
        src="../../assets/icon/back.svg"
        alt="previous slide icon"
        (click)="slides.slidePrev()"
      />
    </ion-col>

    <ion-col size="10" class="slide-col">
      <ion-slides #slides [options]="slideOpts">
        <ion-slide *ngFor="let doc of segmentsService.documents; let i = index">
          <div class="slide-content">
            <a
              *ngIf="!segmentsService.editMode"
              class="center"
              [href]="doc.url"
              [target]="doc.name"
            >
              <div
                class="background"
                [ngClass]="{'editing': segmentsService.editMode && segmentsService.itemClicked === i}"
              >
                <img
                  (click)="documentClick(i)"
                  [src]="doc.iconSrc"
                  alt="previous slide icon"
                />
              </div>
              <div>{{doc.name}}</div>
            </a>

            <div *ngIf="segmentsService.editMode">
              <div
                (click)="documentClick(i)"
                class="background"
                [ngClass]="{'editing': segmentsService.editMode && segmentsService.itemClicked === i}"
              >
                <img [src]="doc.iconSrc" alt="previous slide icon" />
              </div>
              <div>{{doc.name}}</div>
            </div>

            <ion-input
              [ngClass]="{'display-input': segmentsService.itemClicked === i }"
              class="input-newname"
              *ngIf="changeNameClicked"
              id="newName"
            ></ion-input>
            <ion-button
              [ngClass]="{'display-save-button': segmentsService.itemClicked === i }"
              class="save-button"
              *ngIf="changeNameClicked"
              (click)="changeName('newName', doc)"
              >save</ion-button
            >
            <ion-button
              [ngClass]="{'display-close-button': segmentsService.itemClicked === i }"
              class="close-button"
              *ngIf="changeNameClicked"
              (click)="closeChangeName()"
              ><ion-icon name="close"></ion-icon></ion-button
            >
            <div *ngIf="!changeNameClicked">
              <div
                [ngClass]="{'display-button-1': segmentsService.itemClicked === i }"
                class="button-1"
              >
                <ion-button (click)="deleteDoc()"
                  ><ion-icon name="trash"></ion-icon
                ></ion-button>
              </div>
              <div
                [ngClass]="{'display-button-2': segmentsService.itemClicked === i}"
                class="button-2"
              >
                <ion-button (click)="onChangeName()"><ion-icon name="create"></ion-icon></ion-button>
              </div>
              <div
                [ngClass]="{'display-button-3': segmentsService.itemClicked === i}"
                class="button-3"
              >
                <ion-button
                  ><ion-icon name="cloud-upload"></ion-icon
                ></ion-button>
              </div>

              <div
                [ngClass]="{'display-button-4': segmentsService.itemClicked === i}"
                class="button-4"
              >
                <ion-button
                  ><ion-icon name="radio-button-off"></ion-icon
                ></ion-button>
              </div>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-col>
    <ion-col size="1" class="arrow-col">
      <img
        *ngIf="segmentsService.documents.length > projectData.settings.slides_per_view"
        src="../../assets/icon/next.svg"
        alt="next slide icon"
        class="filter pointer"
        (click)="slides.slideNext()"
      />
    </ion-col>
  </ion-row>
</ion-grid>
