<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card class="component-card">
        <div class="icon-container" (click)="openModal()">
          <ion-icon name="resize" class="expand-icon"></ion-icon>
        </div>
        <ion-row class="content-row">
          <ion-col>
            <ion-row>
              <ion-col size="6">
                <div class="title">Project name:</div>
              </ion-col>
              <ion-col size="6">
                <div class="info">{{ project.info.project_name }}</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <div class="title">Type:</div>
              </ion-col>
              <ion-col size="6">
                <div class="info">{{ project.info.project_type }}</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <div class="title">Work type:</div>
              </ion-col>
              <ion-col size="6">
                <div class="info">{{ project.info.work_type }}</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <div class="title">Address:</div>
              </ion-col>
              <ion-col size="6">
                <div class="info">{{ project.info.project_address}}</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <div class="title">Surface:</div>
              </ion-col>
              <ion-col size="6">
                <div class="info">{{ project.info.surface }}</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <div class="title">Budget:</div>
              </ion-col>
              <ion-col size="6">
                <div class="info">{{ project.info.budget }}</div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="component-card">
        <div class="icon-container" (click)="openModal()">
          <ion-icon name="resize" class="expand-icon"></ion-icon>
        </div>
        <ion-row class="content-row">
          <ion-col>
            <ion-row>
              <ion-col size="6">
                <div class="title">Client name:</div>
              </ion-col>
              <ion-col size="6">
                <div class="info">{{ project.info.first_name }} {{ project.info.last_name }}</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <div class="title">Job:</div>
              </ion-col>
              <ion-col size="6">
                <div class="info">{{ project.info.job }}</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <div class="title">Address:</div>
              </ion-col>
              <ion-col size="6">
                <div class="info">{{ project.info.client_address }}</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <div class="title">Phone:</div>
              </ion-col>
              <ion-col size="6">
                <div class="info">{{ project.info.phone }}</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <div class="title">Email:</div>
              </ion-col>
              <ion-col size="6">
                <div class="info">{{ project.info.email }}</div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>