ion-grid {
	height: 100%;
}

ion-col,
ion-row,
ion-grid {
	padding: 0 !important;
}

.content-row {
	margin-top: -20px;
}

.info {
	font-family: Calibri;
	font-size: 18px;
	margin-bottom: 5px;
}

.title {
	font-size: 20px;
	font-weight: bold;
}
