ion-grid {
	height: 100%;
}

ion-col,
ion-row,
ion-grid {
	padding: 0 !important;
}

ion-card {
	padding-left: 15px;
	padding-top: 15px;
	position: relative;
	height: 300px;
	&:hover {
		ion-icon {
			display: block;
		}
	}
}

ion-icon {
	font-size: 20px;
	position: relative;
	top: 5px;
	left: 5px;
	display: none;
}

.icon-container {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 30px;
	height: 30px;
	z-index: 9;
	cursor: pointer;
}

.info {
	font-family: Calibri;
	font-size: 18px;
	margin-bottom: 5px;
}

.title {
	font-size: 20px;
	font-weight: bold;
}

.info {
	font-size: 20px;
}
