<ion-header>
  <ion-toolbar>
    <ion-title>event-modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="day-selected">
    <ion-row *ngFor="let item of events">
      <ion-col>
        <ion-row>
          <ion-col class="title-col">
            title:
          </ion-col>
          <ion-col>
            <input [(ngModel)]="item.title">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="title-col">
            start:
          </ion-col>
          <ion-col>
            <ng-datepicker [(ngModel)]="item.start"></ng-datepicker>
          </ion-col>
          <ion-col>
            <input [format]="24" [ngxTimepicker]="startPicker">
            <ngx-material-timepicker #startPicker (timeSet)="setTime($event, item, 'start')"></ngx-material-timepicker>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="title-col">
            end:
          </ion-col>
          <ion-col>
            <ng-datepicker [(ngModel)]="item.end"></ng-datepicker>
          </ion-col>
          <ion-col>
            <input [format]="24" [ngxTimepicker]="endPicker">
            <ngx-material-timepicker #endPicker (timeSet)="setTime($event, item, 'end')">
            </ngx-material-timepicker>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-content>